EISCHEF/Service References/ChefWebService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ChefWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9090/ChefService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9090/ChefService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9090/ChefService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChefService.WebService" />
      <xsd:import schemaLocation="http://localhost:9090/ChefService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChefWebService_StartChef_InputMessage">
    <wsdl:part name="parameters" element="tns:StartChef" />
  </wsdl:message>
  <wsdl:message name="IChefWebService_StartChef_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartChefResponse" />
  </wsdl:message>
  <wsdl:message name="IChefWebService_GetExitCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExitCode" />
  </wsdl:message>
  <wsdl:message name="IChefWebService_GetExitCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExitCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IChefWebService_GetProcessOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessOutput" />
  </wsdl:message>
  <wsdl:message name="IChefWebService_GetProcessOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessOutputResponse" />
  </wsdl:message>
  <wsdl:message name="IChefWebService_HasExited_InputMessage">
    <wsdl:part name="parameters" element="tns:HasExited" />
  </wsdl:message>
  <wsdl:message name="IChefWebService_HasExited_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasExitedResponse" />
  </wsdl:message>
  <wsdl:portType name="IChefWebService">
    <wsdl:operation name="StartChef">
      <wsdl:input wsaw:Action="http://tempuri.org/IChefWebService/StartChef" message="tns:IChefWebService_StartChef_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChefWebService/StartChefResponse" message="tns:IChefWebService_StartChef_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExitCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IChefWebService/GetExitCode" message="tns:IChefWebService_GetExitCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChefWebService/GetExitCodeResponse" message="tns:IChefWebService_GetExitCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProcessOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/IChefWebService/GetProcessOutput" message="tns:IChefWebService_GetProcessOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChefWebService/GetProcessOutputResponse" message="tns:IChefWebService_GetProcessOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasExited">
      <wsdl:input wsaw:Action="http://tempuri.org/IChefWebService/HasExited" message="tns:IChefWebService_HasExited_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChefWebService/HasExitedResponse" message="tns:IChefWebService_HasExited_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IChefWebService" type="tns:IChefWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartChef">
      <soap:operation soapAction="http://tempuri.org/IChefWebService/StartChef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExitCode">
      <soap:operation soapAction="http://tempuri.org/IChefWebService/GetExitCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessOutput">
      <soap:operation soapAction="http://tempuri.org/IChefWebService/GetProcessOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasExited">
      <soap:operation soapAction="http://tempuri.org/IChefWebService/HasExited" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChefWebService">
    <wsdl:port name="BasicHttpBinding_IChefWebService" binding="tns:BasicHttpBinding_IChefWebService">
      <soap:address location="http://localhost:9090/ChefService/c" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>